.tituloHome {
    background-color: #555;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.containerCard {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 20px; */
    justify-content: center;
}

.containerProductos {
    display: flex;
}

.containerForm {
    width: 80%;
    margin: 30px;
}

.tituloInputs {
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 10px;
}