<div>
    <h1 class="tituloHome">Lista de productos</h1>
    <a href="http://localhost:8080/api/viewProducts/cart" id="linkCarrito">VER CARRITO</a>
</div>



<div class="containerCard" id="containerCards"></div>

<div class="containerBtn">
    <button id="btnAnterior">PAGINA ANTERIOR</button>
    <h5>Pagina <span id="pag"></span></h5>
    <button id="btnSiguiente">PAGINA SIGUIENTE</button>
</div>