<div>
    <h1 class="tituloHome">Lista de productos</h1>
</div>



<div class="containerProductos">
    <div class="containerCard" id="containerCards"></div>

    <div class="containerForm">
        <h3 class="tituloInputs">Agregar productos</h3>
        <form action="" id="form">
            <div class="mb-2">
                <label>Nombre Producto</label>
                <input class="col-12" type="text" placeholder="nombre producto" id="nombre">
            </div>
            <div class="mb-2">
                <label>Descripcion</label>
                <input class="col-12" type="text" placeholder="descripcion" id="descripcion">
            </div>
            <div class="mb-2">
                <label>Precio</label>
                <input class="col-12" type="number" placeholder="precio" id="precio">
            </div>
            <div class="mb-2">
                <label>Categoria</label>
                <input class="col-12" type="text" placeholder="categoria" id="categoria">
            </div>
            <div class="mb-2">
                <label>Codigo</label>
                <input class="col-12" type="text" placeholder="codigo" id="codigo">
            </div>
            <button id="btnAdd" class="btn btn-success">Agregar Producto</button>

            <h3 class="tituloInputs mt-3">Eliminar Producto</h3>
            <div class="mb-2">
                <label>Codigo</label>
                <input class="col-12" type="text" placeholder="codigo" id="codigoEliminar">
            </div>
            <button id="btnEliminar" class="btn btn-danger">Eliminar Producto</button>
        </form>
    </div>
</div>